<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">School Team</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" th:href="@{'home'}">Inicio</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{'materias'}">Materias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{'school'}">Centros Escolares</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{'users'}">Usuarios</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center d-flex flex-column justify-content-center align-items-center">
                <h1 class="mt-5">Usuarios</h1>
                <form th:action="@{/updateUsers}" th:object="${userUp}" method="post" class="w-50" action="" id="registro">
                    <div class="w-100 mb-1 d-flex">
                        <input type="text" th:field="*{nombre}" class="w-50 form-control" placeholder="Nombre">
                        <input type="text" th:field="*{apellido}" class="w-50 form-control" placeholder="Apellido">
                    </div>
                    <input id="" type="text" th:field="*{usuario}" class="form-control mb-1" placeholder="Usuario">
                    <input type="password"  th:field="*{password}" class="form-control mb-1" placeholder="Contraseña">
                    <input type="date" class="form-control mb-1" th:field="*{f_nacimiento}" placeholder="Fecha de Nacimiento">
                    <select name="status" id=status class="w-50 form-control" th:field="*{estado}">
                            <option	th:value=${estado} 
	  					th:text="${estado}"></option>
	  					<option value="false">false</option>
	  					<option value="false">true</option>
                     </select>
                    <input type="text" class="form-control mb-1" placeholder="Direccion" th:field="*{direccion}">
                    <input type="submit" class="form-control btn btn-success mb-3" value="Agregar" name="send" id="send">
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.slim.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>