<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bare - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/our.css" rel="stylesheet">

</head>

<body class="bg-img">


  <!-- Page Content -->
  <div class="tela"></div>
  <div class="container relative">
    <div class="row">
      <div class="col-lg-12 w-100 d-flex flex-column align-items-center justify-content-center vh-100" id="inside">
        <form class="w-50 bg-login p-5 rounded shadow" action="" id="login">
          <h2 class="text-center text-white">Inicia Sesion</h2>
          <input type="text" class="form-control mb-2" placeholder="Usuario">
          <p class="text-white mb-2"></p>
          <input type="password" class="form-control mb-2" placeholder="Contraseña">
          <p class="text-white mb-2"></p>
          <input type="submit" class="form-control btn btn-success mb-3" value="Iniciar Sesion" name="send" id="send">
          <p class="text-center text-white">¿Necesitas una cuenta? <a id="register" class="text-decoration-none">Registrate</a></p>
        </form>
        <form style="display: none;" class="w-50 bg-login p-5 rounded shadow" action="" id="registro">
          <h2 class="text-center text-white">Registrate</h2>
          <div class="w-100 mb-1 d-flex">
            <input type="text"class="w-50 form-control" placeholder="Nombre">
            <input type="text"class="w-50 form-control" placeholder="Apellido">
          </div>
          <input type="text" class="form-control mb-1" placeholder="Usuario">
          <input type="password" class="form-control mb-1" placeholder="Contraseña">
          <input type="date" class="form-control mb-1" placeholder="Fecha de Nacimiento">
          <div class="w-100 mb-1 d-flex">
            <select name="" id="" class="w-50 form-control">
              <option value="">Departamento</option>
            </select>
            <select name="" id="" class="w-50 form-control">
              <option value="">Municipio</option>
            </select>
          </div>
          <input type="text" class="form-control mb-1" placeholder="Direccion">
          <input type="submit" class="form-control btn btn-success mb-3" value="Iniciar Sesion" name="send" id="send">
          <p class="text-center text-white">¿Ya tienes cuenta? <a id="show-log" class="text-decoration-none">Regisrarse</a></p>
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script>
    document.getElementById("register").addEventListener("click", function(){
      document.getElementById("registro").style.cssText = 'display:inline !important';
      document.getElementById("login").style.display ='none';

  });
  document.getElementById("show-log").addEventListener("click", function(){
      document.getElementById("login").style.cssText = 'display:inline !important';
      document.getElementById("registro").style.display ='none';

  });
  </script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
